/* 575 boilerplate style.css */

header {
	width: 100%;
	height: 70px;
	margin: 10px auto;
	font-family: Georgia;
	color: #000;
	font-size: 40pt;
	text-align: center;

}

h2 {
	background-color: #61bf1a;
	opacity: 0.8;
	width: 75%;
	color: white;
	font-family: Georgia;
}

h3 {

}

#startrib {
	padding-left: 2%;
	max-width: 20%;
}

#subheader {
	width: 100%;
	height: 20px;
	margin: 15px;
	font-family: Georgia;
	color: #404040;
	font-size: 20pt;
	text-align: center;
	padding-bottom: 4%;
}

#context {
	font-family: Georgia;
	width: 75%;
	padding-bottom: 1%;
	margin: auto;
	line-height: 150%;
}

/*Map*/
#map {
	height: 600px;
	width: 75%;
	display: inline-block;
	border-radius: 10px;
}

#panel {
	height: 592px;
	width: 24%;
	display: inline-block;
	border-radius: 10px;
	border: solid #61bf1a 3px;
	float: right;
}

#contextual {
	height: 500px;

}

/*style dropdown */

select {
	background-color: white;
	border: 1;
}
/*style dropdown
*/#blank {
	font-weight: bold;
	font-family: Georgia;
	color: white;
}

#population {
	font-family: Georgia;
}

#age {
	font-family: Georgia;
}
#demographic {
	font-family: Georgia;
	font-weight: bold;
	color: #61bf1a;
}

}
#white {
	font-family: Georgia;
}
#black {
	font-family: Georgia;
}
#asian {
	font-family: Georgia;
}
#other {
	font-family: Georgia;
}
#commute {
	font-family: Georgia;
	font-weight: bold;
	color: #61bf1a;
}

#vehicle {
	font-family: Georgia;
}
#public {
	font-family: Georgia;
}
#commutetype {
	font-family: Georgia;
	font-weight: bold;
	color: #61bf1a;
}
#alone {
	font-family: Georgia;
}
#carpool {
	font-family: Georgia;
}
#publictransit {
	font-family: Georgia;
}

#bike {
	font-family: Georgia;
}

#walked {
	font-family: Georgia;
}

#alternate {
	font-family: Georgia;
}
#home {
	font-family: Georgia;
}
#householdtype {
	font-family: Georgia;
	font-weight: bold;
	color: #61bf1a;
}
#household {
	font-family: Georgia;
}
#kids {
	font-family: Georgia;
}
#misc {
	font-family: Georgia;
	font-weight: bold;
	color: #61bf1a;
}
#income {
	font-family: Georgia;
}


#footer {
	height: 50px;
	width: 100%;
	font-family: Georgia;
	color: #404040;
	margin: 15px;
	font-size: 10pt;

}


/*test menuSelector*/
/*.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
*/
/* Dropdown button on hover & focus */
/*.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
*/
/* The container <div> - needed to position the dropdown content */
/*.dropdown {
    position: relative;
    display: inline-block;
}*/

/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
*/
/* Links inside the dropdown */
/*.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
*/
/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #f1f1f1}
*/
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/*.show {display:block;}
*/
a:link{
	color:;
	font-family:;
	font-size:;
	text-decoration:; 
}

a:hover{
	color: black;
	}