/* 575 boilerplate style.css */

/*Map*/
#map {
	height: 600px;
	width: 80%;
	display: inline-block;
	border-radius: 10px;
}

.tracts {
	fill: none;
	stroke: #737373;
	stroke-width: 0.3;
}

.hydro {
	fill: #ccffeb;
}

.blue {
	/*stroke: #0053A0;*/
	stroke: red;
	fill: none;
	stroke-width: 2.5;
}

.bluestat {
	stroke: #0053A0;
	stroke-width: 2;
	fill: white;
}

.blueext {
	stroke: #0053A0;
	fill: none;
	stroke-width: 2.5;
	stroke-dasharray: 7,5;
}

.green {
	stroke: #028244;
	fill: none;
	stroke-width: 2.5;
}

.greenstat {
	stroke: #028244;
	stroke-width: 2;
	fill: white;
}

.greenext {
	stroke: #028244;
	fill: none;
	stroke-width: 2.5;
	stroke-dasharray: 7,5;
}

.red {
	stroke: #ED1B2E;
	fill: none;
	stroke-width: 2.5;
}

.redstat {
	stroke: #ED1B2E;
	stroke-width: 2;
	fill: white;

}

.redext {
	stroke: #ED1B2E;
	fill: none;
	stroke-width: 2.5;
	stroke-dasharray: 7,5;
}

.orange {
	stroke: #F68B1F;
	fill: none;
	stroke-width: 2.5;
	stroke-dasharray: 7,5;
}

.gold {
	stroke: #FBBD12;
	fill: none;
	stroke-width: 2.5;
	stroke-dasharray: 7,5;
}

.northstar {
	stroke: #0053A0;
	fill: none;
	stroke-width: 1;
}

.northstar2 {
	stroke: #FFD204;
	fill: none;
	stroke-width: 2.5;
}

.northstar3 {
	stroke: #0053A0;
	fill: none;
	stroke-width: 5;
}

.northstarstat {
	stroke: #0053A0;
	stroke-width: 2;
	fill: #FFD204;
}

.sharedstat {
	stroke: black;
	stroke-width: 2;
	fill: white;
}

/*.map {
	border: 3px solid #999;
	margin: 10px 0 0 20px;
	border-radius: 10px;
}*/

/*.overlay {
  fill: none;
  pointer-events: all;
}
button {
  padding: 10px 20px;
}*/